.body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(120, 141, 249);
    position: relative;
}
img
{
    width: 40%;
    height: 70%;
}
.login
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 30%;
height: 45%;
background-color: white;
border-radius: 20px;
text-align: center;
}
#one
{
    background-color: rgb(168, 69, 26);
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

